* {
    margin: 0px;
    padding: 0px;
}
table{
    width: 100px;
    border-radius: 12px;
    border-style: dashed;
    border-color: blue;
    background-color: black;

}
#par1{
    text-align: center;
    color: turquoise;
    background-color: black;
}